@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The die roller is for the World of Darkness RPG. All rights to the rulesets reflected here belong to Onyx Path Publishing and White Wolf Publishing.
</p>
<p> No part of this website should be construed as taking intellectual property from other people.  @Html.ActionLink("Send me an angry email if you think I did.","Contact") </p>
