@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:timothy-mcroy@uiowa.edu">Tim McRoy</a><br /><br/>
    <a href="https://github.com/timothy-mcroy"> Github</a>
    <br/>
    <br/>

    <a href="https://www.linkedin.com/pub/timothy-mcroy/b4/36a/42" style="display: block;">LinkedIn</a>
</address>