@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Well, hello there!</h1>
    <p> My name is Tim McRoy. I'm a software engineering intern at Marshalltown Co. </p>
    <p> I enjoy long walks on the beach, coding, and rpg's</p>
    <a href="https://github.com/timothy-mcroy"> Github</a>
    <a href="https://www.linkedin.com/pub/timothy-mcroy/b4/36a/42" style="display: block;">LinkedIn</a>
</div>

