.body-content {
    padding-top: 1%;
}

.roll-maker {
    border: 2px black solid;
    display: inline-block;
    float: left;
    padding: 3em;
    width: 100%;
}

.roll-maker * { box-sizing: border-box; }

.utilities {
    border: 2px black solid;
    padding: 3em;
}

.centered { margin: 0 auto; }

.input-control.select.agains { width: 100%; }

.diepool-label {
    font-size: 1.7rem;
    text-align: center;
    width: 100%;
}

.stored-roll {
    background-color: green;
    min-height: 80px;
    min-width: 200px;
}

/*.stored-roll[data-is-rote="true"] { background-color: orange; }*/

#dicebag {
    display: inline-block;
    min-height: 50px;
    width: 100%;
}

#dicebag * { float: left; }

#output > tbody > tr > .results, #output > thead > tr > th.results { max-width: 150px; }

#output > tbody > thead > tr > th, #output > thead > tr > td { max-width: 20px; }

#output > tbody > tr:first-child { background-color: #09BB70; }

#output > tbody > tr:nth-child(2) { background-color: #90E0BE; }

#output > tbody > tr:nth-child(3) { background-color: #BCECD8; }

.agains-badge {
    background-color: teal;
    bottom: 0;
    padding: .25rem .25rem;
    position: absolute;
    right: 0;
    z-index: 999;
    font-size: .8rem;
    color: white;
}




.dice-badge {
    background-color: white;
    bottom: 0;
    padding: .25rem .625rem;
    position: absolute;
    right: 40%;
    z-index: 999;
    border-radius: 5px 5px 0 0;
}

.rote-badge {
    background-color: orange;
    bottom: 0;
    padding: .25rem .625rem;
    position: absolute;
    left: 0;
    z-index: 999;
    font-size: .6rem;
    border-radius: 0 5px 0 0;
}

.scroll300 {
    height: 300px;
    overflow-y: auto;
}

.scroll500 {
    max-height: 500px;
    overflow-y: auto;
}

.panel > .heading{
    background-color: #333333;
}
.panel > .content {
    background-color: inherit;
}